:root {
    --accent: #3498db;
    --primaryDark: #10212c;
    --secondaryr: #2ecc71;
    --primary: #fff;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../img/banner/woman-2141808.webp);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.homed {
    position: absolute;
    top: 5%;
    left: 5%;
}

.link{
    color: var(--accent);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background: transparent;
    transition: .3s;
}

.link:hover{
    text-decoration: underline;
    color: rgb(60, 128, 255);
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
    border-radius: 50%;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background: rgba(0, 0, 0, 0);
    color: #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background: #3B5998;
    color: #fff;
}

.btn-instagram {
    border-color: rgba(179, 157, 157, 0);
    background: #000;
    color: #fff;
}

.card {
    background-clip: padding-box;
    width: 800px;
    transform: translate(25%, 0%);
    box-shadow: 0px 1px 10px 1px var(--accent);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
    color: var(--primary);
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: var(--accent) !important;
}

.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: var(--accent) !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
